{:id "multi-pdf-viewer"
 :name "Multi PDF Viewer"
 :version "1.3.1"
 :author "lenn07"
 :icon "public/icon.png"
 :mode "iframe"
 :entry "dist/index.html"
 :description "Zeigt mehrere PDFs nebeneinander in Logseq an"}
