{:id "multi-pdf-viewer"
 :name "Multi PDF Viewer"
 :version "1.6.0" ; x-release-please-version
 :author "lenn07"
 :icon "public/icon.png"
 :mode "iframe"
 :entry "dist/index.html"
 :description "Zeigt mehrere PDFs nebeneinander in Logseq an"}
